/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: limegreen;
}

/* MAIN */
main h1{
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 3rem;
}

/* BOX-CONTAINER */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 40px;
}

/* ROW */
.row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

/* BOXES */
.box {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
}

.none{
background-color: white;
}

.fizz {
    background-color: aqua;
} 

.buzz {
    background-color: coral;
}

.fizz-buzz {
    background-color: cornflowerblue;
}

/* BOXES-INNER */
.number {
    font-size: 1.4rem;
    padding: 2px;
}